/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */


body {
  font-family: 'Merriweather', serif;
  font-size: 10px;  
  line-height: 1.5em;
  word-spacing: 0.05em;
  letter-spacing: 0.05em;
}
h1,h2{
  font-family: 'Bitter', serif;
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

h1 {
    text-align: center;
    font-size: 2em;
}
h2 + p {
    text-indent: 20px;
}
/* link rules || */
a:link, a:visited, a:focus, a:hover {
    color: #a66;
}

a:visited{ 
    color: rgb(0,0,0);
}
a:focus, a:hover {
    text-decoration: none;
}
a:focus {
  outline: none;
}

a:active{
    background: #a66;
    color: white;
}

a[href*="http"]{
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 1em 1em;
    padding-right: 1em;
}
/* list rules || */
ol, ul, dl {
    margin-top: 1em;
}

nav {
    width: 20em;
}

nav ul li {
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    line-height: 2em;
    text-align: center;
    border: 1px solid black;
    margin: 1em;
    padding: 0.1em;
    font-family: 'Bitter', serif;
    font-size: 1.2em;
}

nav ul li a{
    text-decoration: none;
    text-align: center;
    padding: 1em;
    /* border: 1px solid black; */
    /* display: inline-block; */
}